html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 50px;
}

.nav-logo {
    max-height: 60px;
}

.bg-light {
    background-color: gray;
}

.heading {
    color: white;
    -webkit-text-stroke: 1px rgba(128, 128, 128, 0.603);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

.welcome {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.welcome-image {
    max-width: 100%;
}

body {
    margin-top: 80px;
}

@media screen and (min-width:768px) /* any screen 768px and higher */ {
    
    .navbar {
        border-radius: 0;
    }
    
    .navbar-header {
       display: none;
    }
   
   .navbar-nav {
       
       float: left;
       table-layout: fixed;
       
    }
}

.team {
    display: inline;
}

.profile-card {
    max-height: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.profile-img {
    max-width: 100%;
}

.imgwrapper {
    max-width: 100%; 
    display: inline-block;
    position: relative;
    overflow: hidden;
    top: 0;
    max-height: 280px;
    margin-bottom: 5px;
}

.smaller-text {
    font-size-adjust: inherit;
}

.scrolling-profiles {
    margin-bottom: 55px;
}

.morediv {
    padding: 5px;
}

ul {
    margin-top: 28px;
}

.bottom-bar {
    
    left: 0;
    bottom:0px;
    width: 100%;
    text-align:center;
    font-size:.8em;
    text-transform:uppercase;
    padding:10px 0;
}

.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
 -webkit-appearance: none;
 margin: 0;
}

.headlines .fa-circle {
    color: rgb(168, 14, 14);
}

.headlines:hover {
    cursor: pointer;
}

.red {
    color: red;
}

.team {
    display: inline;
}