.nav-logo {
    max-height: 60px;
}

.bg-light {
    background-color: gray;
}


.heading {
    color: white;
    -webkit-text-stroke: 1px rgba(128, 128, 128, 0.603);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    
}

.welcome {
    margin-left: auto;
    margin-right: auto;
    /* background-color: gray; */
    
}

.welcome-image {
    max-width: 100%;
    
}

body {
    
    margin-top: 80px;
}


@media screen and (min-width:768px) /* any screen 768px and higher */ {
    
    .navbar {
        border-radius: 0;
    }
    
    .navbar-header {
       display: none;
   }
   
   .navbar-nav {
       
       float: left;
       table-layout: fixed;
       
   }
}

.profile-card {
    max-height: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;

}

.profile-img {
    max-width: 100%;
}

.imgwrapper {
    max-width: 100%; 
    display: inline-block;
    position: relative;
    overflow: hidden;
    top: 0;
    max-height: 280px;
    margin-bottom: 5px;

}

.morediv {
    padding: 5px;
}

ul {
    margin-top: 28px;
}

.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
 -webkit-appearance: none;
 margin: 0;
}
.bottom-bar {
    position:fixed;
    left: 0;
    bottom:0px;
    width: 100%;
    text-align:center;
    font-size:.8em;
    text-transform:uppercase;
    background:rgb(143, 135, 135);
    padding:15px 0;
}

/* Three columns side by side */
.column {
    float: left;
    width: 25;
    margin-bottom: 16px;
    padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}

/* Add some shadows to create a card effect */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 300px;
    width: 300px;
    overflow: hidden;
}


/* Some left and right padding inside the container */
.container {
    padding: 0 16px;
}

/* Clear floats */
.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #555;
}
