.profile-card {
    max-height: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;

}

.profile-img {
    max-width: 100%;
    
    /* position: absolute;
    top: 0; */
   
}

.imgwrapper {
    max-width: 100%;
    
    display: inline-block;
    position: relative;
    overflow: hidden;
    top: 0;
    max-height: 280px;
    margin-bottom: 5px;

}

.morediv {
    padding: 5px;
}